# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# PDM
.pdm-python
.pdm-build/
__pypackages__/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Testing
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/

# Project specific
tokens.json 
secrets.json
TODO.md
dev.fitbit.com
web-api
*.pem
main.py
units.json
my_food_data